@{
    ViewData["Title"] = "Cities";
}

<h1>All Cities:</h1>

<ol>
@foreach (City city in Model)
{
  <li><strong>@city.Name</strong> the @city.Country | <a href="/Cities/Details/@(city.CityId)">View Details</a></li>
}
</ol>